@{
    ViewData["Title"] = "Minha Primeira página";
    ViewData["Message"] = "HAHAHAHA !!!";
    ViewData["nome"] = "Giorgio Costa";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Feita por  <strong>@ViewData["nome"]</strong></p>
