@model asp.net_mvc_core.Models.Filme

@{
    ViewData["Title"] = "Adicionar novo Filme";
    ViewData["Adicionar"] = "Adicionar";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Adicionar">
           <partial name="_CamposFormulario" />       
        </form>
    </div>
</div>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}